

.L-renk {
    background-color: #86358d; /*Kategori var arama tuşu*/
    color: #ffda00; /*Logo için*/
}
.logo a:hover {
    color: #ffda00;
}
/*Anasayfa index.cshtml kategori başlıkları*/
.cat-name {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Montserrat';
}
.item h4 {
    font-family: 'Montserrat';
    color: black;
    padding-top: 3%;
}


/*Anasayfa ürün liste başlangıç*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 260px;
    /*height:350px;*/
    margin: auto;
    text-align: center;
    font-family: arial;
    margin-top:14px;
}

.card-price {
    color: grey;
    font-size: 22px;
    position: absolute;
    bottom: 60px;
    left: 0;
    width: 100%;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: #091b32;
    background-color: #91ddbd;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

    .card button:hover {
        opacity: 0.7;
    }

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

    .card img:hover {
        box-shadow: 0 0 11px rgba(33,33,33,.2);
    }

/*Anasayfa ürün liste son*/

/*Anasayfa carousel başlangıç*/
.main-content {
    position: relative;
}
    .main-content .owl-theme .custom-nav {
        position: absolute;
        top: 20%;
        left: 0;
        right: 0;
    }
        .main-content .owl-theme .custom-nav .owl-prev, .main-content .owl-theme .custom-nav .owl-next {
            position: absolute;
            height: 100px;
            color: inherit;
            background: none;
            border: none;
            z-index: 1;
        }
            .main-content .owl-theme .custom-nav .owl-prev i, .main-content .owl-theme .custom-nav .owl-next i {
                font-size: 2.5rem;
                color: #cecece;
            }
        .main-content .owl-theme .custom-nav .owl-prev {
            left: -50px;
        }
        .main-content .owl-theme .custom-nav .owl-next {
            right: -50px;
        }
.main-content2 {
    position: relative;
}

    .main-content2 .owl-theme .custom-nav {
        position: absolute;
        top: 20%;
        left: 0;
        right: 0;
    }

        .main-content2 .owl-theme .custom-nav .owl-prev, .main-content2 .owl-theme .custom-nav .owl-next {
            position: absolute;
            height: 100px;
            color: inherit;
            background: none;
            border: none;
            z-index: 1;
        }

            .main-content2 .owl-theme .custom-nav .owl-prev i, .main-content2 .owl-theme .custom-nav .owl-next i {
                font-size: 2.5rem;
                color: #cecece;
            }

        .main-content2 .owl-theme .custom-nav .owl-prev {
            left: -50px;
        }

        .main-content2 .owl-theme .custom-nav .owl-next {
            right: -50px;
        }

        /*main content 3*/
.main-content3 {
    position: relative;
}

    .main-content3 .owl-theme .custom-nav {
        position: absolute;
        top: 20%;
        left: 0;
        right: 0;
    }

        .main-content3 .owl-theme .custom-nav .owl-prev, .main-content3 .owl-theme .custom-nav .owl-next {
            position: absolute;
            height: 100px;
            color: inherit;
            background: none;
            border: none;
            z-index: 1;
        }

            .main-content3 .owl-theme .custom-nav .owl-prev i, .main-content3 .owl-theme .custom-nav .owl-next i {
                font-size: 2.5rem;
                color: #cecece;
            }

        .main-content3 .owl-theme .custom-nav .owl-prev {
            left: -50px;
        }

        .main-content3 .owl-theme .custom-nav .owl-next {
            right: -50px;
        }
 
        /*main content 4*/
.main-content4 {
    position: relative;
}

    .main-content4 .owl-theme .custom-nav {
        position: absolute;
        top: 20%;
        left: 0;
        right: 0;
    }

        .main-content4 .owl-theme .custom-nav .owl-prev, .main-content4 .owl-theme .custom-nav .owl-next {
            position: absolute;
            height: 100px;
            color: inherit;
            background: none;
            border: none;
            z-index: 1;
        }

            .main-content4 .owl-theme .custom-nav .owl-prev i, .main-content4 .owl-theme .custom-nav .owl-next i {
                font-size: 2.5rem;
                color: #cecece;
            }

        .main-content4 .owl-theme .custom-nav .owl-prev {
            left: -50px;
        }

        .main-content4 .owl-theme .custom-nav .owl-next {
            right: -50px;
        }
 

/*Anasayfa carousel son*/

/*kategori kurs liste baş*/
.katKurs-Liste {
    width: 100%;
    min-height: 100%;
    background-color: white;
    margin: 1% auto;
    padding: 1% 0;
}
    .katKurs-Liste:hover {
        background-color: aliceblue;
    }

/*kat kurs liste son*/

/*sepet baş*/

.cart_section {
    width: 100%;
    padding-top: 93px;
    padding-bottom: 111px;
}

.cart_title {
    font-size: 30px;
    font-weight: 500;
}

.cart_items {
    margin-top: 67px;
}

.cart_list {
    border: solid 1px #e8e8e8;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.cart_item {
    width: 100%;
    padding: 15px;
    padding-right: 46px;
}

.cart_item_image {
    width: 133px;
    height: 133px;
    float: left;
}

    .cart_item_image img {
        max-width: 100%;
    }

.cart_item_info {
    width: calc(100% - 133px);
    float: left;
    padding-top: 18px;
}

.cart_item_name {
    margin-left: 7.53%;
}

.cart_item_title {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0,0,0,0.5);
}

.cart_item_text {
    font-size: 18px;
    margin-top: 35px;
}

    .cart_item_text span {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-right: 11px;
        -webkit-transform: translateY(4px);
        -moz-transform: translateY(4px);
        -ms-transform: translateY(4px);
        -o-transform: translateY(4px);
        transform: translateY(4px);
    }

.cart_item_price {
    text-align: right;
}

.cart_item_total {
    text-align: right;
}

.order_total {
    width: 100%;
    height: 60px;
    margin-top: 30px;
    border: solid 1px #e8e8e8;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    padding-right: 46px;
    padding-left: 15px;
}

.order_total_title {
    display: inline-block;
    font-size: 14px;
    color: rgba(0,0,0,0.5);
    line-height: 60px;
}

.order_total_amount {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    margin-left: 26px;
    line-height: 60px;
}

.cart_buttons {
    margin-top: 60px;
    text-align: right;
}

.cart_button_clear {
    display: inline-block;
    border: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    color: rgba(0,0,0,0.5);
    background: #FFFFFF;
    border: solid 1px #b2b2b2;
    padding-left: 35px;
    padding-right: 35px;
    outline: none;
    cursor: pointer;
    margin-right: 26px;
}

    .cart_button_clear:hover {
        border-color: #0e8ce4;
        color: #0e8ce4;
    }

.cart_button_checkout {
    display: inline-block;
    border: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    color: #FFFFFF;
    padding-left: 35px;
    padding-right: 35px;
    outline: none;
    cursor: pointer;
    vertical-align: top;
}
/*sepet son*/

/*Odeme baş*/


    .odeme .row {
        display: -ms-flexbox; /* IE10 */
        display: flex;
        -ms-flex-wrap: wrap; /* IE10 */
        flex-wrap: wrap;
        margin: 0 -16px;
    }

    .odeme .col-25 {
        -ms-flex: 25%; /* IE10 */
        flex: 25%;
    }

    .odeme .col-50 {
        -ms-flex: 50%; /* IE10 */
        flex: 50%;
    }

    .odeme .col-75 {
        -ms-flex: 75%; /* IE10 */
        flex: 75%;
    }

    .odeme .col-25,
    .odeme .col-50,
    .odeme .col-75 {
        padding: 0 16px;
    }

    .odeme .container {
        background-color: #f2f2f2;
        padding: 5px 20px 15px 20px;
        border: 1px solid lightgrey;
        border-radius: 3px;
    }

    .odeme input[type=text] {
        width: 100%;
        margin-bottom: 20px;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    .odeme label {
        margin-bottom: 10px;
        display: block;
    }

    .odeme .icon-container {
        margin-bottom: 20px;
        padding: 7px 0;
        font-size: 24px;
    }

    .odeme .btn {
        background-color: #4CAF50;
        color: white;
        padding: 12px;
        margin: 10px 0;
        border: none;
        width: 100%;
        border-radius: 3px;
        cursor: pointer;
        font-size: 17px;
    }

        .odeme .btn:hover {
            background-color: #45a049;
        }

    .odeme a {
        color: #2196F3;
    }

    .odeme hr {
        border: 1px solid lightgrey;
    }

    .odeme span.price {
        float: right;
        color: grey;
    }

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
    .odeme .row {
        flex-direction: column-reverse;
    }

    .odeme .col-25 {
        margin-bottom: 20px;
    }
}
/*Odeme son*/

/*uye ol baş*/

body {
    font-family: Arial, Helvetica, sans-serif;
}


/* Full-width input fields */
.header_search input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
}

    .header_search input[type=text]:focus, input[type=password]:focus {
        background-color: #edf8ff;
    }


/* Set a style for all buttons */

.f-signup {
    font-family: sans-serif;
    font-size: 10px;
}

    .f-signup #uyeGirisForm {
        background: #fff;
        padding: 4em 4em 2em;
        max-width: 400px;
        margin: 50px auto 0;
        box-shadow: 0 0 1em #222;
        border-radius: 2px;
    }

        .f-signup #uyeGirisForm h2 {
            margin: 0 0 50px 0;
            padding: 10px;
            text-align: center;
            font-size: 30px;
            color: #666;
            border-bottom: solid 1px #e5e5e5;
        }

        .f-signup #uyeGirisForm p {
            margin: 0 0 3em 0;
            position: relative;
            font-size: 10px;
        }

        .f-signup #uyeGirisForm input {
            display: block;
            box-sizing: border-box;
            width: 100%;
            outline: none;
            margin: 0;
        }

            .f-signup #uyeGirisForm input[type="email"], .f-signup #uyeGirisForm input[type="text"], .f-signup #uyeGirisForm input[type="password"] {
                background: #fff;
                border: 1px solid #dbdbdb;
                font-size: 1.6em;
                padding: 0.8em 0.5em;
                border-radius: 2px;
            }

                .f-signup #uyeGirisForm input[type="email"], .f-signup #uyeGirisForm input[type="text"]:focus, .f-signup #uyeGirisForm input[type="password"]:focus {
                    background: #fff;
                }

        .f-signup #uyeGirisForm span {
            display: block;
            background: #f9a5a5;
            padding: 2px 5px;
            color: #666;
        }

        .f-signup #uyeGirisForm input[type="submit"] {
            background: rgba(148, 186, 101, 0.7);
            box-shadow: 0 3px 0 0 rgba(123, 163, 73, 0.7);
            border-radius: 2px;
            border: none;
            color: #fff;
            cursor: pointer;
            display: block;
            font-size: 2em;
            line-height: 1.6em;
            margin: 2em 0 0;
            outline: none;
            padding: 0.8em 0;
            text-shadow: 0 1px #68b25b;
        }

            .f-signup #uyeGirisForm input[type="submit"]:hover {
                background: rgba(148, 175, 101, 1);
                text-shadow: 0 1px 3px rgba(70, 93, 41, 0.7);
            }

        .f-signup #uyeGirisForm label {
            position: absolute;
            left: 8px;
            top: 12px;
            color: #999;
            font-size: 16px;
            display: inline-block;
            padding: 4px 10px;
            font-weight: 400;
            background-color: rgba(255, 255, 255, 0);
        }

            .f-signup #uyeGirisForm label.floatLabel {
                top: -11px;
                background-color: rgba(255, 255, 255, 0.8);
                font-size: 14px;
            }
 
/*uye ol son*/

/*kurs detay accordion baş*/
.kd {
    margin: 20px 0;
}
.kd-header {
    font-family: Montserrat;
    padding-left: 3%;
    background-color: #d1d1d1;
    color: #03767a;
    margin-bottom: 1%;
    font-size: 1rem;
    font-weight: 800;
}
.kd .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    margin-bottom: 3px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.kd .active, .accordion:hover {
    background-color: #ccc;
}

.kd .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.kd .active:after {
    content: "\2212";
}

.kd .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
/*kurs detay accordion baş*/

/*Star rating baş*/

.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */

.starClass input,
.starClass select,
.starClass textarea {
    max-width: 280px;
}


.starClass .commentBox {
    background-color: #efefef;
    padding: 10px;
    border-radius: 10px;
}

.starClass .starFade {
    background-image: url('/Content/SampleImages/Stars/StarFade.gif');
    min-width: 20px;
    min-height: 20px;
    display: inline-block;
    cursor: pointer;
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
}

.starClass .starFadeN {
    background-image: url('/Content/SampleImages/Stars/StarFade.gif');
    min-width: 20px;
    min-height: 20px;
    display: inline-block;
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
}

.starClass .starGlow {
    background-image: url('/Content/SampleImages/Stars/starglow.gif');
    min-width: 20px;
    min-height: 20px;
    display: inline-block;
    cursor: pointer;
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
}

.starClass .starGlowN {
    background-image: url('/Content/SampleImages/Stars/starglow.gif');
    min-width: 20px;
    min-height: 20px;
    display: inline-block;
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
}
/*star rating son*/

/*Layout fontlar renkler baş*/
.UstYaziArkaPlan {
    background: linear-gradient(225deg,#8d3535 0%,#8d8235 100%);
    opacity: 0.92;
}
.UstYaziBaslik {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
}

/*Layout fontlar renkler son*/

/*VideoJS BAŞ*/

.col-video {
    border-style: solid;
    border-color: white;
    border-width: 0 2px 0px 0px;
}

/*
  Player Skin Designer for Video.js
  http://videojs.com

  To customize the player skin edit 
  the CSS below. Click "details" 
  below to add comments or questions.
  This file uses some SCSS. Learn more  
  at http://sass-lang.com/guide)

  This designer can be linked to at:
  https://codepen.io/heff/pen/EarCt/left/?editors=010
*/
.video-js {
    /* The base font size controls the size of everything, not just text.
     All dimensions use em-based sizes so that the scale along with the font size.
     Try increasing it to 15px and see what happens. */
    font-size: 10px;
    /* The main font color changes the ICON COLORS as well as the text */
    color: #fff;
}

/* The "Big Play Button" is the play button that shows before the video plays.
   To center it set the align values to center and middle. The typical location
   of the button is the center, but there is trend towards moving it to a corner
   where it gets out of the way of valuable content in the poster image.*/
.vjs-default-skin .vjs-big-play-button {
    /* The font size is what makes the big play button...big. 
     All width/height values use ems, which are a multiple of the font size.
     If the .video-js font-size is 10px, then 3em equals 30px.*/
    font-size: 3em;
    /* We're using SCSS vars here because the values are used in multiple places.
     Now that font size is set, the following em values will be a multiple of the
     new font size. If the font-size is 3em (30px), then setting any of
     the following values to 3em would equal 30px. 3 * font-size. */
    /* 1.5em = 45px default */
    line-height: 1.5em;
    height: 1.5em;
    width: 3em;
    /* 0.06666em = 2px default */
    border: 0.06666em solid #fff;
    /* 0.3em = 9px default */
    border-radius: 0.3em;
    /* Align center */
    left: 50%;
    top: 50%;
    margin-left: -1.5em;
    margin-top: -0.75em;
}

/* The default color of control backgrounds is mostly black but with a little
   bit of blue so it can still be seen on all-black video frames, which are common. */
.video-js .vjs-control-bar,
.video-js .vjs-big-play-button,
.video-js .vjs-menu-button .vjs-menu-content {
    /* IE8 - has no alpha support */
    background-color: #444;
    /* Opacity: 1.0 = 100%, 0.0 = 0% */
    background-color: rgba(68, 68, 68, 0.7);
}

/* Slider - used for Volume bar and Progress bar */
.video-js .vjs-slider {
    background-color: #989898;
    background-color: rgba(152, 152, 152, 0.5);
}

/* The slider bar color is used for the progress bar and the volume bar
   (the first two can be removed after a fix that's coming) */
.video-js .vjs-volume-level,
.video-js .vjs-play-progress,
.video-js .vjs-slider-bar {
    background: #fff;
}

/* The main progress bar also has a bar that shows how much has been loaded. */
.video-js .vjs-load-progress {
    /* For IE8 we'll lighten the color */
    background: #d8d8d8;
    /* Otherwise we'll rely on stacked opacities */
    background: rgba(152, 152, 152, 0.5);
}

    /* The load progress bar also has internal divs that represent
   smaller disconnected loaded time ranges */
    .video-js .vjs-load-progress div {
        /* For IE8 we'll lighten the color */
        background: white;
        /* Otherwise we'll rely on stacked opacities */
        background: rgba(152, 152, 152, 0.75);
    }

/*VideoJS SON*/