
/*Anasayfa ürün liste başlangıç*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 260px;
    /*height:350px;*/
    margin: auto;
    text-align: center;
    font-family: arial;
    margin-top:14px;
}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

    .card button:hover {
        opacity: 0.7;
    }

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

    .card img:hover {
        box-shadow: 0 0 11px rgba(33,33,33,.2);
    }

/*Anasayfa ürün liste son*/

/*Anasayfa carousel başlangıç*/
.main-content {
    position: relative;
}
    .main-content .owl-theme .custom-nav {
        position: absolute;
        top: 20%;
        left: 0;
        right: 0;
    }
        .main-content .owl-theme .custom-nav .owl-prev, .main-content .owl-theme .custom-nav .owl-next {
            position: absolute;
            height: 100px;
            color: inherit;
            background: none;
            border: none;
            z-index: 1;
        }
            .main-content .owl-theme .custom-nav .owl-prev i, .main-content .owl-theme .custom-nav .owl-next i {
                font-size: 2.5rem;
                color: #cecece;
            }
        .main-content .owl-theme .custom-nav .owl-prev {
            left: 0;
        }
        .main-content .owl-theme .custom-nav .owl-next {
            right: 0;
        }
.main-content2 {
    position: relative;
}

    .main-content2 .owl-theme .custom-nav {
        position: absolute;
        top: 20%;
        left: 0;
        right: 0;
    }

        .main-content2 .owl-theme .custom-nav .owl-prev, .main-content2 .owl-theme .custom-nav .owl-next {
            position: absolute;
            height: 100px;
            color: inherit;
            background: none;
            border: none;
            z-index: 1;
        }

            .main-content2 .owl-theme .custom-nav .owl-prev i, .main-content2 .owl-theme .custom-nav .owl-next i {
                font-size: 2.5rem;
                color: #cecece;
            }

        .main-content2 .owl-theme .custom-nav .owl-prev {
            left: 0;
        }

        .main-content2 .owl-theme .custom-nav .owl-next {
            right: 0;
        }
 

/*Anasayfa carousel son*/

/*kategori kurs liste baş*/
.katKurs-Liste {
    width: 100%;
    min-height: 100%;
    background-color: white;
    margin: 1% auto;
    padding: 1% 0;
}
    .katKurs-Liste:hover {
        background-color: aliceblue;
    }

/*kat kurs liste son*/

/*sepet baş*/

.cart_section {
    width: 100%;
    padding-top: 93px;
    padding-bottom: 111px;
}

.cart_title {
    font-size: 30px;
    font-weight: 500;
}

.cart_items {
    margin-top: 67px;
}

.cart_list {
    border: solid 1px #e8e8e8;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.cart_item {
    width: 100%;
    padding: 15px;
    padding-right: 46px;
}

.cart_item_image {
    width: 133px;
    height: 133px;
    float: left;
}

    .cart_item_image img {
        max-width: 100%;
    }

.cart_item_info {
    width: calc(100% - 133px);
    float: left;
    padding-top: 18px;
}

.cart_item_name {
    margin-left: 7.53%;
}

.cart_item_title {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0,0,0,0.5);
}

.cart_item_text {
    font-size: 18px;
    margin-top: 35px;
}

    .cart_item_text span {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-right: 11px;
        -webkit-transform: translateY(4px);
        -moz-transform: translateY(4px);
        -ms-transform: translateY(4px);
        -o-transform: translateY(4px);
        transform: translateY(4px);
    }

.cart_item_price {
    text-align: right;
}

.cart_item_total {
    text-align: right;
}

.order_total {
    width: 100%;
    height: 60px;
    margin-top: 30px;
    border: solid 1px #e8e8e8;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    padding-right: 46px;
    padding-left: 15px;
}

.order_total_title {
    display: inline-block;
    font-size: 14px;
    color: rgba(0,0,0,0.5);
    line-height: 60px;
}

.order_total_amount {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    margin-left: 26px;
    line-height: 60px;
}

.cart_buttons {
    margin-top: 60px;
    text-align: right;
}

.cart_button_clear {
    display: inline-block;
    border: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    color: rgba(0,0,0,0.5);
    background: #FFFFFF;
    border: solid 1px #b2b2b2;
    padding-left: 35px;
    padding-right: 35px;
    outline: none;
    cursor: pointer;
    margin-right: 26px;
}

    .cart_button_clear:hover {
        border-color: #0e8ce4;
        color: #0e8ce4;
    }

.cart_button_checkout {
    display: inline-block;
    border: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    color: #FFFFFF;
    padding-left: 35px;
    padding-right: 35px;
    outline: none;
    cursor: pointer;
    vertical-align: top;
}
/*sepet son*/

/*Odeme baş*/

.odeme {
}

    .odeme .row {
        display: -ms-flexbox; /* IE10 */
        display: flex;
        -ms-flex-wrap: wrap; /* IE10 */
        flex-wrap: wrap;
        margin: 0 -16px;
    }

    .odeme .col-25 {
        -ms-flex: 25%; /* IE10 */
        flex: 25%;
    }

    .odeme .col-50 {
        -ms-flex: 50%; /* IE10 */
        flex: 50%;
    }

    .odeme .col-75 {
        -ms-flex: 75%; /* IE10 */
        flex: 75%;
    }

    .odeme .col-25,
    .odeme .col-50,
    .odeme .col-75 {
        padding: 0 16px;
    }

    .odeme .container {
        background-color: #f2f2f2;
        padding: 5px 20px 15px 20px;
        border: 1px solid lightgrey;
        border-radius: 3px;
    }

    .odeme input[type=text] {
        width: 100%;
        margin-bottom: 20px;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    .odeme label {
        margin-bottom: 10px;
        display: block;
    }

    .odeme .icon-container {
        margin-bottom: 20px;
        padding: 7px 0;
        font-size: 24px;
    }

    .odeme .btn {
        background-color: #4CAF50;
        color: white;
        padding: 12px;
        margin: 10px 0;
        border: none;
        width: 100%;
        border-radius: 3px;
        cursor: pointer;
        font-size: 17px;
    }

        .odeme .btn:hover {
            background-color: #45a049;
        }

    .odeme a {
        color: #2196F3;
    }

    .odeme hr {
        border: 1px solid lightgrey;
    }

    .odeme span.price {
        float: right;
        color: grey;
    }

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
    .odeme .row {
        flex-direction: column-reverse;
    }

    .odeme .col-25 {
        margin-bottom: 20px;
    }
}
/*Odeme son*/