
@{
    ViewBag.Title = "dlayout";
    Layout = "~/Views/Shared/_dLayout.cshtml";
}

<div id="unobstructed">
    heyyqwe
    @{
        Html.RenderAction("dliste", new { Ad="Yemek"});
    }
    heey
</div>