
@{
    ViewBag.Title = "Hakkimizda";
}
<div class="container" style="background-color:white">
    <h2>Hakkimizda</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id auctor eros. Nulla facilisi. Vivamus semper dolor eu ante ullamcorper lobortis. Curabitur eu dapibus neque. Quisque sit amet ultrices urna. Morbi a sem massa. Donec vestibulum, velit at blandit mattis, sem odio sodales diam, non iaculis turpis velit ut lacus. Suspendisse eget justo ultricies, interdum metus quis, sollicitudin est. Vivamus ut pretium sem. Praesent hendrerit magna vel scelerisque mattis. In quis est sit amet velit mollis molestie ut eu mauris. Vivamus fermentum, diam volutpat gravida tempor, massa lacus suscipit lectus, eget facilisis ligula nibh eu nisl. Quisque vitae suscipit sem. Nulla tristique magna vehicula sem condimentum, eget semper enim ullamcorper. Proin vehicula neque id sapien tincidunt commodo.
    </p>
        <p>
        Donec congue, diam cursus sodales molestie, ligula dui venenatis dui, quis rhoncus odio nibh eget enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec facilisis scelerisque dignissim. Phasellus elementum porta eros, id accumsan lectus iaculis ut. Phasellus elementum leo sed lacus auctor vulputate. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis fringilla quam, ac iaculis ante. Mauris purus tortor, pellentesque vitae tortor ac, venenatis scelerisque orci. Curabitur egestas pharetra justo, quis facilisis quam. Nunc pharetra, leo nec dignissim euismod, arcu est condimentum nisl, eget viverra nisl turpis eu nulla.
            </p>
    <p>
        Sed fringilla arcu at hendrerit efficitur. Donec maximus molestie rhoncus. Integer sed velit arcu. Donec suscipit, enim volutpat blandit faucibus, purus neque fringilla ipsum, vel ornare urna eros vitae tellus. Nulla a laoreet odio, eu condimentum lorem. Phasellus finibus risus turpis, sit amet placerat ligula lobortis sit amet. Aenean fringilla cursus urna, vel cursus ipsum scelerisque et. Morbi ut nisi id lectus consectetur accumsan sit amet et odio. Integer sit amet cursus magna, quis consequat velit. Nullam porta risus in velit lobortis, id aliquet turpis mollis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque nec purus sapien. Nullam elementum eros enim, nec interdum arcu molestie eget. Duis viverra diam sit amet gravida cursus.
    </p>
</div>


