
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="shop">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Shop Content -->

            </div>
        </div>
    </div>
</div>

