
@{
    Layout = null;
}

<div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">
    @*<div class="wishlist d-flex flex-row align-items-center justify-content-end">
            <div class="wishlist_icon"><img src="/Content/OneTech/images/heart.png" alt=""></div>
            <div class="wishlist_content">
                @if (ViewBag.Uye != null)
                {
                    <div class="wishlist_text"><a href="#">İstek</a></div>
                }
                else {
                    <div class="cart_text"><a href="#" class="Sepet">Sepet</a></div>
                }
                    <div class="wishlist_count">115</div>
                </div>
        </div>*@

    <!-- Cart -->
    <div class="cart">
        <div class="cart_container d-flex flex-row align-items-center justify-content-end">
            <div class="cart_icon">
                <a href="/alisverissepeti">
                    <img src="/Content/OneTech/images/cart.png" alt="">
                    <div class="cart_count">
                        <span>@ViewBag.SepetSayi</span>
                    </div>
                </a>
                </div>
            <div class="cart_content">
                <div class="cart_text">
                    @*@if (ViewBag.Uye != null)
                    {*@
                        <a href="/alisverissepeti">Sepet</a>
                    @*}
                    else
                    {
                        <a href="#" class="Sepet">Sepet</a>

                    }*@
                </div>
                <div class="cart_price">
                    @{
                        decimal? toplam = 0;
                        foreach (var item in ViewBag.Sepet)
                        {
                            toplam += item.Kurs.Fiyat;
                        }
                    }@toplam ₺
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/Content/OneTech/js/jquery-3.3.1.min.js"></script>
<script>
    $('.Sepet').click(function () { islemler.GirisYap(); return false; });
</script>