@model Akademinya.Models.Kurs
@{
    ViewBag.Title = "KursIzlemeSayfasi";

}

<div class="container" style="background-color:white">
    <h2>KursIzlemeSayfasi</h2>
    <button type="button" onclick="return islemler.PuanVer(@Model.Id)" class="btn btn-warning float-right m-2">
        Puan ver
    </button>
    <hr />
</div>
