
@{
    ViewBag.Title = "Odeme";
}

    <div class="container odeme" style="background-color:white;padding-top: 1%; padding-bottom:1%">

        <div class="row">
            <div class="col-75">
                <div class="container">
                    <form id="OdemeYap">

                        <div class="row">


                            <div class="col-50">
                                <h3>Ödeme</h3>
                                <label for="fname">Geçerli Kartlar</label>
                                <div class="icon-container">
                                    <i class="fa fa-cc-visa" style="color:navy;"></i>
                                    <i class="fa fa-cc-amex" style="color:blue;"></i>
                                    <i class="fa fa-cc-mastercard" style="color:red;"></i>
                                    <i class="fa fa-cc-discover" style="color:orange;"></i>
                                </div>
                                <label for="cname">KayıtAdı</label>
                                <input type="text" id="KayitAdi" required name="cardname" placeholder="A kartı">
                                <label for="cname">Kart üzerindeki isim</label>
                                <input type="text" id="KartUstundekiIsım" required name="cardname" placeholder="John More Doe">
                                <label for="ccnum">Kart numarası</label>
                                <input type="text" id="Kartno" class="OnlyNumber" name="cardnumber" required placeholder="1111-2222-3333-4444"minlength="16" maxlength="16">
                                <label for="expmonth">Son kullanma ay</label>
                                <input type="text" id="Ay" class="OnlyNumber" name="expmonth" placeholder="September" minlength="2" maxlength="2" required>
                                <div class="row">
                                    <div class="col-50">
                                        <label for="expyear">Son kullanma yıl</label>
                                        <input type="text" id="Yil" class="OnlyNumber" name="expyear" placeholder="2019" minlength="4" maxlength="4" required>
                                    </div>
                                    <div class="col-50">
                                        <label for="cvv">CVV</label>
                                        <input type="text" class="OnlyNumber" id="Cvc" name="cvv" placeholder="352"minlength="3" maxlength="3" required>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <label>
                            <input type="checkbox" checked="checked" id="Kaydet" name="sameadr"> Kart bilgilerimi kaydet
                        </label>
                        <input type="submit" value="Ödeme işlemini tamamla" class="btn">
                        @foreach (var item in ViewBag.Sepet)
                        {
                            <input type="hidden" value="@item.Id" class="sepetID" />
                        }
                        </form>
                </div>
            </div>
            <div class="col-25">
                <div class="container">
                    <h4>Sepet <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i> <b>Sayı @ViewBag.SepetSayi</b></span></h4>
                    @foreach (var item in ViewBag.Sepet)
                    {

                        <p><a href="/Kurslar/KursDetay/@item.Kurs.Id">@item.Kurs.Ad</a> <span class="price">@item.Kurs.Fiyat ₺</span></p>
                    }

                    <hr>
                    <p>
                        Toplam <span class="price" style="color:black">
                            <b>
                                @{
                                    decimal? toplam = 0;
                                    foreach (var item in ViewBag.Sepet)
                                    {
                                        toplam += item.Kurs.Fiyat;
                                    }
                                }@toplam ₺
                            </b>
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <script src="/Content/OneTech/js/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('#OdemeYap').submit(function () {
            islemler.OdemeYap();
            return false;
        });


        //called when key is pressed in textbox
        $('.OnlyNumber').on('paste', function (event) {
            if (event.originalEvent.clipboardData.getData('Text').match(/[^\d]/)) {
                event.preventDefault();
            }
        });
        $(".OnlyNumber").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                $("#errmsg").html("Rakam giriniz").show().fadeOut("slow");
                return false;
            }
        });
       
    })
</script>