
@{
    ViewBag.Title = "Profil";
}

<div class="container" style="background-color:white">
    <div class="row">

        <div class="col-md-10" style="margin:auto">
            <p>profil</p>
            <hr />
        </div>
        <div class="col-md-10" style="margin:auto">
            <p>cart curt</p>
            <hr />
        </div>
    </div>
</div>

